canvas{
  position: absolute;
  padding: 0.25rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
}
.details{
  background-color: var(--color5);
  height:650px;
  position: fixed;
  font-size: 0.8rem !important;
  font-weight: bold;
  align-content: center;
  color:white;
}
.details h6{
  font-weight: bold;
  font-size: 0.8rem !important;
  padding: 5px 20px;
}
.iconbutton:focus{
  outline: none;
}
