.konvajs-content{
  position:absolute !important;
  border:3px double #343a40;
}
.labelform{
  background-color: rgba(0,0,0,0.5);
  color:white;
  font-size: 0.8rem;
}
.labelform input{
  border-radius: 0;
  height:1.1rem;
  background-color: white;
  color:black;
}
