.konvajs-content{
  border:3px double #343a40;
}
.labelform{
  background-color: rgba(0,0,0,0.5);
  color:white;
  font-size: 0.8rem;
}
.details input{
  border-radius: 10px;
  height:1.5rem;
  background-color: var(--color1);
  border:none;
  color:var(--color5);
}
