@import '../../../node_modules/react-dropzone-component/styles/filepicker.css';
@import '../../../node_modules/dropzone/dist/min/dropzone.min.css';
/* DropZone */

div.filepicker {
	text-align: center;
	background-color: #fff;
	border-radius: 5px;
	min-height: 55vh;
	border: 1.5px dashed var(--color5);
	border-radius: 0;
	padding: 0;
}
.filepicker .filepicker-file-icon {
	margin-top: 20%;
}
.filepicker .dz-message {
	display: none;
}
.dropzone .dz-preview.dz-image-preview {
	background: transparent !important;
	z-index: 0;
}
.dz-image {
	box-shadow: 0 10px 20px rgba(0, 0, 0, .19), 0 6px 6px rgba(0, 0, 0, .23);
}
